body,html{
	margin:0;
	background: #faf8ef;
	font-family: Arial;
    overflow:hidden;
}

body{
	position:relative;
	overflow: hidden;
	min-width: 540px;
}

.wrapper{
	height:100vh;
	width:100vw;
	display:flex;
	justify-content: space-around;
}

.game_area{
	min-width: 540px;
}

.title{
	margin:10px 10px;
	float:right;
	height:150px;
	width:150px;
	font-size:50px;
	font-weight: bold;
	color:#f9f6f2;
	background:#edc501;
	border-radius: 5px;
	display:flex;
	justify-content: center;
	align-items: center;
	-webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
}
.rotated{
	transform:rotate(360deg); 
    -webkit-transform:rotate(360deg); 
    -moz-transform:rotate(360deg); 
    -o-transform:rotate(360deg); 
}

.size_block{
	margin:10px;
	float:right bottom;
	border-radius: 5px;
    align-items: center;
    background: #bbada0;
	border-radius: 5px;	
	display:flex;
	flex-direction: column ;
	width:150px;
	color: #4c4a48;
}

.size_block p{
	margin-bottom: 0;
}

.size_block input{
	margin-top: 1em;
}

.restriction{
	margin: 0.5em;
	font-size: 0.9em
}

.size_title{
    float: left;
    margin-left: 5px;
}

#size_number{
    width: 40px;
    margin-left: 5px;
    border-radius: 5px;
}

#size_button{
    border-radius: 5px;
}

.score{
	margin:10px 10px;
	height:100px;
	width:150px;
	background: #bbada0;
	border-radius: 5px;	
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size:30px;
}

.score_title{
	color:#cdc1b4;
	font-weight:bold;
}

.score_number{
	color:#f9f6f2;
	font-weight: bold;
}

.menu_button{
	margin-left: 10px;
	border-radius: 5px;	
}

.reg{
	display: none;
}

body.menu-visible .reg {
	margin:10px;
	float:right bottom;
	border-radius: 5px;
    background: #bbada0;
	border-radius: 5px;	
	display:flex;
	color: #4c4a48;
}

#registration{
	margin-left: 5px;
	display:flex;
	flex-direction: row;
	width: 200px;
}

#name_value{
	width: 100px;
	margin-left: 5px;
	margin-top: 15px;
	border-radius: 5px;
	z-index: 1;
	height: 18px;
	z-index: 50;
	color: #776e65;
}

#save_button{
	margin-left: 5px;
	margin-top: 15px;
	height: 25px;
	border-radius: 5px;
}

.name_title{
	width: 50px;
}

#top_players{
	padding: 3px;
	margin-left: 25%; 
	margin-bottom: 10px; 
}

.top_players_title{
	margin-bottom: 5px;
}

ul{
	margin-top:10px;
	padding-left: 30px;
}

#top_players li{
	padding: 0px 4px;
	list-style-type: none;
}
li:nth-child(odd) {
	background: #edc501;
  }

li:nth-child(even) {
background: #298acf;
color: #faf8ef;
}

#game_table{
    margin:10px;
	border-radius:5px;
}

.cell{
	height:25%;
	width:25%;
	background: #cdc1b4;
	border-radius: 5px;
}

@media all and (min-width:540px){
	.game_area{
		height:100vh;
		width:540px;
		min-width: 540px;
	}

	#game_table{
		background: #bbada0;
		border-radius:5px;
	}
}
